# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
venv/
ENV/
.env
.env.*

# macOS
.DS_Store

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Images and logs
*.png
*.jpg
*.jpeg
*.gif
*.log

# Ignore screenshot only if not tracked
!Screenshot.png
